{% extends 'phonelist/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="mt-5"></div>
    <div class="container"><h1>Create New Account</h1></div>
    <div class="mt-5"></div>

    <div class="container">
        <div class="col-md-4">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="button btn-success">Sign Up</button>
                </div>
            </form>
        </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already have an account? <a class="ml-2" href="{% url "login" %}">Sign In</a>
        </small>
    </div>
    </div>
{% endblock content%}